
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary m-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">QUOTES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 ml-3 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
          </ul>
      </div>
    </div>
  </nav>
 <div class="container-fluid">
  <div class="m-auto"><app-quote></app-quote></div>
  <footer>
    <a href="https://github.com/kipsang01/" class="fa fa-github"></a>
    <a href="https://twitter.com/login" class="fa fa-twitter"></a>
    <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
    <a href="https://www.linkedin.com/login" class="fa fa-linkedin"></a>
    <p>&#169;kipsang Enock 2021</p>
  </footer>
</div>
