<div class="container">
    <button class="btn btn-primary" (click) = "showForm()"> </button>
    <div class="quotes">
        <div class="card" *ngFor = "let quote of quotes index as i">
            <div class="card-header"> {{quote.name}}</div>
            <div class="card-body">
                <blockquote class="blockquote"> <p>{{quote.content}}</p>
                    <footer class="blockquote-footer">From {{quote.author}}</footer>
                </blockquote>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>