<div class="container">
    <button class="btn btn-primary" (click) = "showForm()"> </button>
    <div class="quotes">
        <div class="card" *ngFor = "let quote of quotes index as i">
            <div class="card-header"> {{quote.name}}</div>
            <div class="card-body">
                <blockquote class="blockquote"> <p>{{quote.content}}</p>
                    <footer class="blockquote-footer">From {{quote.author}}</footer>
                </blockquote>
            </div>
            <div class="card-footer">
                <button class="like-btn"(click)= "upvoted(i)" ><i class="fa fa-thumbs-o-up like-icon" aria-hidden="true"></i></button>{{quote.upvotes}} Upvotes
                <button class="disliked-btn" (click)= "downvoted(i)" ><i class="fa fa-thumbs-o-down dislike-icon" aria-hidden="true"></i></button> {{quote.downvotes}} downvotes
                <span>{{quote.datePosted |date:'shortDate'}}</span>
            </div>
        </div>
    </div>
</div>